<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for taking the time to talk to me!</h1>
    <p> Here a bunch of information!</p>
    <br>
    <br>
    <strong>Porfolio : josephgochua.com</strong>
    <br>
    <br>
    <strong>Github : github.com/gogojojo</strong>
    <br>
    <br>
    <strong>linkedin : www.linkedin.com/in/josephgochua</strong>
    <br>
    <br>
    Thanks,<br>
    Joseph Go Chua<br>
        josephgochua.com<br>
        joseph.gochua@gmail.com<br> 
        310.357.0264<br>
  </body>
</html>