// Place all the styles related to the employers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
}
h1 {
font-family: 'Oswald', sans-serif;
text-align: center;
text-transform: uppercase;
font-size: 100px;
letter-spacing: 4px;
margin-bottom: 10px;
margin-top: 150px;
}
h2 {
font-family: 'Oswald', sans-serif;
text-align: center;
font-size: 50px;
font-weight: 300;
margin: 0;
}
.new_employer {
  text-align: center;
}
.text {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  padding: 20px 80px;
  margin-top: 40px;
}
.submit {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  color: white;
  background-color: dodgerblue;
  margin-top: 30px;
  padding: 10px 40px;
  border-style: none;
  box-shadow: 0px 5px 0px blue;
}
.submit:hover {
  opacity: 0.5;
}
.flash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: tomato;
    box-shadow: 0px 5px 0px red;
}
p {
         text-align: center;
         padding: 10px 0;
         font-family: 'Oswald', sans-serif;
         font-size: 18px;
         color: white;
}
